

<div class="container">
  <h2 class ="heading">Educational Qualification</h2>
            
  <table class="table">
    <thead>
      <tr>
        <th>Qualification</th>
        <th>Institution</th>
        <th>Percentage </th>
        <th>Passed year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10th</td>
        <td>Don Bosco Matric Hr.Sec School</td>
        <td>84</td>
        <td>2011</td>
      </tr>
      <tr>
        <td>12th</td>
        <td>DAV Matric Hr.Sec School</td>
        <td>93</td>
        <td>2013</td>
      </tr>
      <tr>
        <td>BE(EEE)</td>
        <td>Rajalaksmi Engineering College</td>
        <td>78</td>
        <td>2017</td>
      </tr>
    </tbody>
  </table>
</div>


