

<div class="container">
  <h2 class ="heading">Educational Qualification</h2>
    <br>        
 


<ul>
  <li>
      <a >
      <h2>10th standard</h2>
      <p>Passed out in 2011 from Don Bosco matriculation Higher secondat school with 84%</p>
      </a>
  </li>
  <li>
      <a >
      <h2>12th standard</h2>
      <p>Passed out in 2013 from DAV matricuation higher seconday school with 93%</p>
      </a>
  </li>
  <li>
      <a >
      <h2>BE(E.E.E)</h2>
      <p>Passed out in 2017 from Rajalakshmi Engineering college with 78%</p>
      </a>
  </li>  
       
</ul>
</div>


