div.maindiv{
   margin-left: 20%;
}
h3.title{
    margin-left: 25%;
    color: #C3447A;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px;  
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  div.card
  {
    background: linear-gradient(to right, #BFF098 0%, #6FD6FF 100%);
    border-radius: 10px;
    box-shadow: 10px 10px;
    
  }
  .card-body
  {
      overflow: hidden;
  }
  body{
    background: linear-gradient(to top left, #66ff99 0%, #ffcccc 73%);
    min-height: 100vh;

  }
  h3
  {
      color: #DD4124;
  }
  h1
{
    color: #6B5B95;
}
h2{
   color: #C3447A; 
}