<body>
    <h2 class = "title">Acheivements</h2>
    <br>
    <ul class="list-group">
    <li  class="list-group-item list-group-item-success">2nd place in robotics competion hed by lema labs</li>
    <li  class="list-group-item list-group-item-info">2nd place in SRM ECE symposiyum</li>
    <li  class="list-group-item list-group-item-success">Tech talk in SSN enginnering college as a rep of lema labs</li>
    <li  class="list-group-item list-group-item-info">Special Guest in Madras School Of Social Work to talk and give live demo on workplace monitoring by HR department and created an desktop app for the same </li>
  </ul>
</body>
 
