<!-- <body>
    <h2 class = "title">Acheivements</h2>
    <br>
    <ul class="list-group">
    <li  class="list-group-item list-group-item-success">2nd place in robotics competion hed by lema labs</li>
    <li  class="list-group-item list-group-item-info">2nd place in SRM ECE symposiyum</li>
    <li  class="list-group-item list-group-item-success">Tech talk in SSN enginnering college as a rep of lema labs</li>
    <li  class="list-group-item list-group-item-info">Special Guest in Madras School Of Social Work to talk and give live demo on workplace monitoring by HR department and created an desktop app for the same </li>
  </ul>

</body>
  -->
  <!-- <body>

  <ul class="tilesWrap">
    <li>
      <h2>01</h2>
      <h3>Title 1</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting   
        industry. Lorem Ipsum has been the industry's standard dummy text ever 
        since the 1500s.
      </p>
      <button>Read more</button>
    </li>
    <li>
      <h2>02</h2>
      <h3>Title 2</h3>
      <p>
        When an unknown printer took a galley of type and scrambled it to make 
        a type specimen book. It has survived not only five centuries.
      </p>
      <button>Read more</button>
    </li>
    <li>
      <h2>03</h2>
      <h3>Title 3</h3>
      <p>
        But also the leap into electronic typesetting, remaining essentially 
        unchanged. It was popularised in the 1960s.
      </p>
      <button>Read more</button>
    </li>
    <li>
      <h2>04</h2>
      <h3>Title 4</h3>
      <p>
        With the release of Letraset sheets containing Lorem Ipsum passages,  
        and more recently with desktop publishing software like Aldus PageMaker 
        including versions of Lorem Ipsum.
      </p>
      <button>Read more</button>
    </li>
  </ul>
</body> -->
<body>
  <h4>Acheivements</h4>
<p>2nd place in robotics competion hed by lema labs.</p>
<p>2nd place in SRM ECE symposiyum.</p>
<p>Tech talk in SSN enginnering college as a rep of lema labs.</p>
<p>Special Guest in Madras School Of Social Work to talk and give live demo on workplace monitoring by HR department and created an desktop app for the same.</p>
</body>