<body>
<div class="container maindiv">
    <h3 class = "title">Projects</h3>
    <br>
 

   
    <div  class="row">

      <div  class="col-lg-4 col-md-6 col-sm-12 mb-4 ">
        <div class="card h-100 animated bounce">
          <a href="#"><img class="card-img-top" [src]="" alt=""></a>
          <div class="card-body">

            <h5>Shopping Cart</h5>
            <p class="card-text">Developed Using Angular,Nodejs,Bootstrap,mongoDb</p> 
          </div>
          <div class="card-footer">
           <a href = "https://inspiring-bhaskara-887771.netlify.app/" target="_blank"> <small class="text-muted">Open App</small></a>
          </div>
        </div>
        
      </div>
      <div  class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 animated bounce">
          <a href="#"><img class="card-img-top" [src]="" alt=""></a>
          <div class="card-body">

            <h5>Url Shortner(Angular)</h5>
            <p class="card-text">Developed Using Angular,Nodejs,Bootstrap,mongoDb</p> 
          </div>
          <div class="card-footer">
           <a href = "https://compassionate-shockley-71660d.netlify.app/" target="_blank"> <small class="text-muted">Open App</small></a>
          </div>
        </div>
        
      </div>
      <div  class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card h-100 animated bounce">
          <a href="#"><img class="card-img-top" [src]="" alt=""></a>
          <div class="card-body">

            <h5>Url Shortner(React)</h5>
            <p class="card-text">Developed Using React,Nodejs,Bootstrap,mongoDb</p> 
          </div>
          <div class="card-footer">
           <a href = "https://infallible-bhabha-04db5c.netlify.app/" target="_blank"> <small class="text-muted">Open App</small></a>
          </div>
        </div>
        
      </div>
    </div>
      <div  class="row">
      <div  class="col-lg-4 col-md-6 mb-4 col-sm-12">
        <div class="card h-100 animated bounce">
          <a href="#"><img class="card-img-top" [src]="" alt=""></a>
          <div class="card-body">

            <h5>MCQ Test App</h5>
            <p class="card-text">Developed Using angular,Nodejs,Bootstrap,mongoDb</p> 
          </div>
          <div class="card-footer">
           <a href = "https://antony-rahul-testapp.netlify.app/" target="_blank"> <small class="text-muted">Open App</small></a>
          </div>
        </div>
        
    </div>

    <div  class="col-lg-4 col-md-6 mb-4 col-sm-12">
      <div class="card h-100 animated bounce">
        <a href="#"><img class="card-img-top" [src]="" alt=""></a>
        <div class="card-body">

          <h5>GITHUB search app</h5>
          <p class="card-text">Developed Using angular,Bootstrap</p> 
        </div>
        <div class="card-footer">
         <a href = "https://antony-gitapp.netlify.app/" target="_blank"> <small class="text-muted">Open App</small></a>
        </div>
      </div>
      
  </div>

  
  <div  class="col-lg-4 col-md-6 mb-4 col-sm-12">
    <div class="card h-100 animated bounce">
      <a href="#"><img class="card-img-top" [src]="" alt=""></a>
      <div class="card-body">

        <h5>Red Bus App</h5>
        <p class="card-text">Developed Using angular,Bootstrap,Nodejs,mongoDb</p> 
      </div>
      <div class="card-footer">
       <a href = "https://busapp-antony.netlify.app/" target="_blank"> <small class="text-muted">Open App</small></a>
      </div>
    </div>
    
</div>

   
    <!-- /.row -->

  </div>
</div>

</body>