<div class="container maindiv">
    <h3 class = "title">Projects</h3>
    <br>
    <div class = "row">

<div class="col-lg-9">

   
    <div  class="row">

      <div  class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" [src]="" alt=""></a>
          <div class="card-body">

            <h5>Shopping Cart</h5>
            <p class="card-text">Developed Using Angular,Nodejs,Bootstrap,mongoDb</p> 
          </div>
          <div class="card-footer">
           <a href = "https://inspiring-bhaskara-887771.netlify.app/"> <small class="text-muted">Open App</small></a>
          </div>
        </div>
        
      </div>
      <div  class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" [src]="" alt=""></a>
          <div class="card-body">

            <h5>Url Shortner(Angular)</h5>
            <p class="card-text">Developed Using Angular,Nodejs,Bootstrap,mongoDb</p> 
          </div>
          <div class="card-footer">
           <a href = "https://compassionate-shockley-71660d.netlify.app/"> <small class="text-muted">Open App</small></a>
          </div>
        </div>
        
      </div>
      <div  class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" [src]="" alt=""></a>
          <div class="card-body">

            <h5>Url Shortner(React)</h5>
            <p class="card-text">Developed Using React,Nodejs,Bootstrap,mongoDb</p> 
          </div>
          <div class="card-footer">
           <a href = "https://infallible-bhabha-04db5c.netlify.app/"> <small class="text-muted">Open App</small></a>
          </div>
        </div>
        
      </div>
      <div  class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" [src]="" alt=""></a>
          <div class="card-body">

            <h5>MQQ Test App</h5>
            <p class="card-text">Developed Using angular,Nodejs,Bootstrap,mongoDb</p> 
          </div>
          <div class="card-footer">
           <a href = "https://infallible-bhabha-04db5c.netlify.app/"> <small class="text-muted">Open App</small></a>
          </div>
        </div>
        
    </div>

   
    <!-- /.row -->

  </div>
</div>
</div>