
<div id="snackbar">{{this.message}}</div>

    <h3 class >Contact me through social media</h3>
<div class="text-center social-btn">
    <a href="https://www.linkedin.com/in/rahul-antony/" target="_blank" class="btn btn-primary"><i class="fa fa-linkedin"></i>&nbsp; Linkedin</a>
    <a href="https://twitter.com/antony_rahul_96" target="_blank" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
    <a href="mailto:antonyrahul96@gmail.com" target="_blank" class="btn btn-danger"><i class="fa fa-envelope"></i>&nbsp; Gmail</a>
</div>
<div class="or-seperator"><i>or</i></div>
<div class="container contact-form">
    
    <form  [formGroup]= "messageform" (submit)="processdata();">
        <h3>Drop a Message</h3>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" formControlName="name" class="form-control" placeholder="Your Name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" formControlName="phone" class="form-control" placeholder="Your Phone Number " value="" />
                </div>
                <div class="form-group">
                    <input type="submit"  class="btnContact" value="Send Message" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea formControlName="txtmsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>



