<section class="pricing py-5">

<div class="card">
    <div class="card-body">
        <h1 class="card-price text-center">Intoduction</h1>
        <h3 class="card-price text-center">
            I am Rahul Antony and i have a bachelor of enginerring degree in EEE . My first encounter with programming was in 2010 with 
            c and c++ in my school days and i have been in love with it since. Even though my degree was in EEE i was pursuing my interest
            in programming side by side. When i am not coding, i read about cars , listen to music and do some FPS gaming.
         </h3>
        
       
        
    </div>
</div>

</section>