

<div class="container">
    <h2 class ="heading">Work Experience</h2>
              
    <table class="table">
      <thead>
        <tr>
          <th>Designation</th>
          <th>Company</th>
          <th>Duration </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Android and C developer</td>
          <td>AVES Smart Home</td>
          <td>6 months</td>
          </tr>
        <tr>
          <td>Software Development Intern</td>
          <td>Zoho Corporation</td>
          <td>6 months</td>
          </tr>
        <tr>
          <td>Member Technical Staff</td>
          <td>Zoho Corporation</td>
          <td>2 years</td>
          </tr>
      </tbody>
    </table>
  </div>
  
  
  